#cursos {
    background-image: linear-gradient(to right, rgb(0 0 0 / .65), rgb(0 0 0 /.65)), url(../assets/img/cursos_bg.jpg);
    padding: 10rem 0;
    margin-top: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}


@media (min-width: 768px) {
    .cursos-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.curso-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blanco);
}


@media (min-width: 768px) {
    .curso-info {
        grid-column: 2/3;
    }
}

.curso-info p {
    font-size: 2.4rem;
    text-align: center;
}